@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-reeltalk-cream-50: #f7f6ef;
  --color-reeltalk-cream-base: #ecebd6;
  --color-reeltalk-cream-200: #dad7ae;
  --color-reeltalk-cream-300: #c4bd80;
  --color-reeltalk-cream-400: #b3a45c;
  --color-reeltalk-cream-500: #a4924e;
  --color-reeltalk-cream-600: #8d7741;
  --color-reeltalk-cream-700: #715b37;
  --color-reeltalk-cream-800: #604d33;
  --color-reeltalk-cream-900: #54422f;
  --color-reeltalk-cream-950: #2f2319;

  --color-reeltalk-darkgray-50: #f3f7f8;
  --color-reeltalk-darkgray-100: #e1e8ec;
  --color-reeltalk-darkgray-200: #c6d4db;
  --color-reeltalk-darkgray-300: #9fb4c1;
  --color-reeltalk-darkgray-400: #708da0;
  --color-reeltalk-darkgray-500: #557285;
  --color-reeltalk-darkgray-600: #495f71;
  --color-reeltalk-darkgray-700: #40505e;
  --color-reeltalk-darkgray-base: #38434e;
  --color-reeltalk-darkgray-900: #333c46;
  --color-reeltalk-darkgray-950: #1f252d;

  --color-reeltalk-error-red: #ff3939;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSans";
  src: url("/fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
